body {
    margin: 0;
    padding: 0; 
    font-family: Roboto, sans-serif;   
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
  box-sizing: border-box;
}

.container {
  width: 1219px; 
  margin: 0 auto;  
  border: 1px solid red;  
}

.header { 
  background-color: #007765;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28.13px;  
  padding-bottom: 20px;
}

.logo {
  float: left;
  padding-top: 20px;
  padding-left: 55px;
}

nav {
  float: right;
  margin-top: 5px;
}

 .menu {
   display: block;
   margin-right: 54px;
 }

 .menu li {
   float: left;
   display: block;
   margin-right: 8px;
   line-height: 28.13px;
   font-size: 24px;
   
 }

 .menu li a {
   color:#fff;
   text-decoration: none; 
   
 }

 .jumbotron {
   
   background: url(img/image.png) no-repeat center top / cover;
   padding-bottom: 160px;
 }

 .text-jumbotron{
   color:#fff;
   font-size: 72px;
   line-height: 84.38px;
   text-align: center;
   padding-top: 150px;
 }

 .problem {
   
   background-color: #eee;
   padding-top: 1px;
   
 }

 .problem h2 {
   color: #007765;
   font-size: 64px;
   line-height: 75px;
   text-align: center;   
   margin-top: 48px;
   padding: 0;
 }

 .text-problem { 
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  margin-bottom: 92px;
  
 }

 .text-problem p {
   margin: 38px 0;
   padding: 0;
 }

 .hero {
    
    background: url(img/image-9.png) no-repeat center top / cover;
 }

 .text-hero {
   color:#fff;
  font-size: 48px;
  font-style: italic;
  line-height: 56.25px;
  text-align: center;
  padding: 128px 163px;
 }

 .ppc {
  height: 604px;
  background-color: #fff;
 }

 .ppc h2 {
  color: #007765;
  font-size: 64px;  
  line-height: 75px;
  text-align: center;
  margin: 0;
 }

 .ppc p {
  font-size: 32px;  
  line-height: 37.5px;
  text-align: center;
}

.team {
  height: 845px;
  background-color: #eee;
}

.team h2 {
  color: #007765;
  font-size: 64px;  
  line-height: 75px;
  text-align: center;
  margin: 0;
}
.staff {
  display:flex;
  justify-content: space-around;
  
}

.footer {
  padding: 48px 339px 64px 339px;
  background: #333;
}

.text-footer {
  color: #fff;
  font-size: 18px;  
  line-height: 21px;
  text-align: center;
  
}